.imdril {
    background-color: #0190ca;
}
.caylion {
    background-color: #6ebe45;
}
.faderan {
    background-color: #f4c81f;
}
.kjas {
    background-color: #eb2127;
}
.unity {
    background-color: #d0d0ce;
}
.yengii {
    background-color: #523a97;
}
.kit {
    background-color: #e17825;
}
.eni-et {
    background-color: #0190ca;
}
.zeth {
    background-color: #932b89;
}
