.imdril {
  background-color: #0190ca;
  border: 0.2em solid #0190ca;
}
.caylion {
  background-color: #6ebe45;
  border: 0.2em solid #6ebe45;
}
.faderan {
  background-color: #f4c81f;
  border: 0.2em solid #f4c81f;
}
.kjas {
  background-color: #eb2127;
  border: 0.2em solid #eb2127;
}
.unity {
  background-color: #d0d0ce;
  border: 0.2em solid #d0d0ce;
}
.yengii {
  background-color: #523a97;
  border: 0.2em solid #523a97;
}
.kit {
  background-color: #e17825;
  border: 0.2em solid #e17825;
}
.eni-et {
  background-color: #0190ca;
  border: 0.2em solid #0190ca;
}
.zeth {
  background-color: #932b89;
  border: 0.2em solid #932b89;
}
