@font-face {
    font-family: evogria;
    src: url("./assets/Evogria.otf") format("opentype");
}
* {
    box-sizing: border-box;
}

body {
    font-family: evogria;
    margin: 20px;
    padding: 0;
}

.timer {
    font-family: evogria;
    font-size: 4em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.resource {
    display: inline-block;
}

.large-cube {
    height: 3em;
}

.small-cube {
    height: 2.5em;
}

.arrow {
    height: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.resource .no-cubes {
    opacity: 0.33;
}
.resource span.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.25em;
    paint-order: stroke fill;
    -webkit-text-stroke: .1em white;
}

.faction-icon {
    height: 1.8em;
    width: 1.8em;
}

.player div,.player span {
    display: inline-block;
    margin: 0.2em;
    width: 4em;
}

.debt {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.invis {
    display: none;
}

.float-right {
    float: right;
}
