@font-face {
  font-family: evogria;
  src: url("./assets/Evogria.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

body {
  font-family: evogria;
  margin: 20px;
  padding: 0;
}

.timer {
  font-family: evogria;
  font-size: 4em;
}

.container {
    display: flex;
  align-items: center;
  justify-content: center;
  font-family: evogria;
  position: relative;
}

.resource {
    display: inline-block;
}

.large-cube {
    height: 3em;
}
.large-cube span {
    font-size: 1.25em;
}

.small-cube {
    height: 2.5em;
}
.small-cube span {
    font-size: 1em;
}

.resource .no-cubes {
    opacity: 0.33;
}
.resource span.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  paint-order: stroke fill;
  -webkit-text-stroke: .1em white;
}
.resource .centered {
/*     position: absolute; */
/*     top: 50%; */
}
